<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Products</title>
</head>
<body>

<h2>Product List</h2>

<a href="/add">Add Product</a>

<table border="1">
<tr>
<th>ID</th>
<th>Name</th>
<th>Price</th>
<th>MFG Date</th>
<th>Action</th>
</tr>

<tr th:each="p : ${products}">
<td th:text="${p.id}"></td>
<td th:text="${p.name}"></td>
<td th:text="${p.price}"></td>
<td th:text="${p.mfgDt}"></td>

<td>
<a th:href="@{/edit/{id}(id=${p.id})}">Edit</a>
<a th:href="@{/delete/{id}(id=${p.id})}">Delete</a>
</td>

</tr>

</table>

</body>
</html>